@import url(./_opened/overlay_opened.css);
@import url(./__wrapper/overlay__wrapper.css);
@import url(./__close-btn/overlay__close-btn.css);
@import url(./__close-btn/_type/overlay__close-btn_type_location-create.css);
@import url(./__close-btn/_type/overlay__close-btn_type_profile-edit.css);
@import url(./__close-btn/_type/overlay__close-btn_type_image-popup.css);

.overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  visibility: hidden;
  opacity: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);

  transition-property: opacity, visibility;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
}

