.project-form__submit-btn {
  box-sizing: border-box;
  border-style: none;
  border-radius: 2px;

  font-size: 14px;
  line-height: calc(17 / 14); /* 17px */
  text-align: center;

  color: #fff;
  background-color: #000;
}

.project-form__submit-btn:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (min-width: 1024px) {
  .project-form__submit-btn {
    box-sizing: border-box;
    width: 358px;
    padding-top: 13.66px;
    padding-bottom: 18.49px;

    font-size: 18px;
    line-height: calc(22 / 18); /* 22px */ 
  }
}