.profile__add-btn {
  box-sizing: border-box;
  width: 282px;
  height: 50px;
  padding: 0;
  border: 2px solid #fff;
  border-radius: 2px;
  margin-top: 36px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: inherit;
}

@media screen and (min-width: 1280px) {
  .profile__add-btn {
    width: 150px;
    margin-top: 0;
  }
}