@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__name/profile__name.css);
@import url(./__edit-btn/profile__edit-btn.css);
@import url(./__add-icon/profile__add-icon.css);
@import url(./__self-description/profile__self-description.css);
@import url(./__add-btn/profile__add-btn.css);
@import url(./__add-icon/profile__add-icon.css);

.profile {
  padding-top: 38.25px;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #fff;
}


@media screen and (min-width: 1280px) {
  .profile {
    padding-top: 40px;

    flex-direction: row;
    justify-content: center;
  }
}