.profile-edit__close-btn {
  position: absolute;
  top: -46px;
  right: 4px;
  /* top and right are very close approximations to specs for the
   positioning of the close button.*/

  width: 26px;
  height: 26px;
  padding: 0;
  border: none;

  background-image: url(../../../images/profile-add-icon.svg);
  background-size: cover;
  background-position: center;
  background-color: inherit;

  cursor: pointer;
  transform: rotate(45deg);
}

.profile-edit__close-btn:hover {
  opacity: 0.6;
}

@media screen and (min-width: 1024px) {
  .profile-edit__close-btn {
    top: -41px;
    right: -41px;
    /* top and right are very close approximations to specs for the
   positioning of the close button.*/

    width: 40px;
    height: 40px;
  }
}