@import url(./_opened/overlay_opened.css);
@import url(./__wrapper/overlay__wrapper.css);
@import url(./__close-btn/overlay__close-btn.css);
@import url(./__close-btn/_type/overlay__close-btn_type_location-create.css);
@import url(./__close-btn/_type/overlay__close-btn_type_profile-edit.css);

.overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  
  display: none;

  background-color: rgba(0, 0, 0, 0.5);
}