@import url(./__title/web-project-four-form__title.css);
@import url(./__title/_type/web-project-four-form__title_type_location-create.css);
@import url(./__title/_type/web-project-four-form__title_type_profile-edit.css);
@import url(./__input/web-project-four-form__input.css);
@import url(./__input/_type/web-project-four-form__input_type_profile-name.css);
@import url(./__input/_type/web-project-four-form__input_type_profile-about-me.css);
@import url(./__input/_type/web-project-four-form__input_type_location-title.css);
@import url(./__input/_type/web-project-four-form__input_type_location-image-link.css);
@import url(./__submit-btn/web-project-four-form__submit-btn.css);
@import url(./__submit-btn/_type/web-project-four-form__submit-btn_type_location-create.css);
@import url(./__submit-btn/_type/web-project-four-form__submit-btn_type_profile-edit.css);

.web-project-four-form {
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);  
}

@media screen and (min-width: 1024px) {
  .web-project-four-form {
    width: 430px;
    padding-top: 34px;
    padding-bottom: 36.51px;
  }
}