@import url(./__form-container/profile-edit__form-container.css);
@import url(./__close-icon/profile-edit__close-icon.css);
@import url(./__form/profile-edit__form.css);
@import url(./__form-title/profile-edit__form-title.css);
@import url(./__form-input/profile-edit__form-input.css);
@import url(./__form-input/_type/profile-edit__form-input_type_name.css);
@import url(./__form-input/_type/profile-edit__form-input_type_about-me.css);
@import url(./__form-button/profile-edit__form-button.css);

.profile-edit {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  
  display: none;

  background-color: rgba(0, 0, 0, 0.5);
}