.web-project-four-form__input_type_profile-about-me {
  margin-top: 30px;
}

@media screen and (max-width: 1023px) {
  .web-project-four-form__input_type_profile-about-me {
    width: 238px;
    padding: 0 0 12px 0;

    font-size: 14px;
    line-height: calc(17 / 14); /* 17px */
  }
}
