@media screen and (max-width: 1023px) {
  .web-project-four-form__input_type_location-title {
    width: 200px;
    padding-bottom: 11px;
    margin-top: 36px;

    font-size: 12px;
    line-height: calc(15 / 12); /* 15px */
  }
}

@media screen and (min-width: 1024px) {
  .web-project-four-form__input_type_location-title {
    margin-top: 54px;
  }
}