.footer__copyright {
  width: 100%;

  font-size: 14px;
  line-height: calc(17 / 14); /* 17px */

  color: #545454;
}

@media screen and (min-width: 1024px) {
  .footer__copyright {
    max-width: 318px;

    font-size: 18px;
    line-height: calc(22 / 18); /* 22px */
  }
}