.profile__name {
  max-width: 196px;
  /* used the width provided by specs to be helpful for ellipsis
    to be formed when user enters more text. */
  margin: 0 auto;

  font-weight: 500;
  font-size: 22px;
  line-height: calc(27 / 22); /* 27px */

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center; 
}

@media screen and (min-width: 1280px) {
  .profile__name {
    display: inline-block;
    max-width: 373px;
    /* used the width provided by specs to be helpful for ellipsis
      to be formed when user enters more text. */
    margin-right: 18px;
    margin-left: 0;

    font-size: 42px;
    line-height: 1.14;
    text-align: left;
  }
}