.profile__edit-btn {
  position: absolute;
  top: 4px;
  right: 15px;
  /* approximating positioning based on specs; turned to absolute positioning
  so that the profile name can remain horizontally centered for screen widths < 1280px */

  box-sizing: border-box;
  width: 18px;
  height: 18px;
  padding: 0;
  border: 1px solid #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: inherit;
}

.profile__edit-btn:hover {
  opacity: 0.6;
}

@media screen and (min-width: 1280px) {
  .profile__edit-btn {
    position: static;

    width: 24px;
    height: 24px;
  }
}