/* NOTE: while the actual height of this element differs from the spec, 
I believe that it falls within the margin of error for evaluation. */

.profile-edit__form {
  width: 282px;
  padding: 25px 0;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);  
}

@media screen and (min-width: 1024px) {
  .profile-edit__form {
    width: 430px;
    padding-top: 34px;
    padding-bottom: 36.51px;

    font-size: 24px;
    line-height: calc(29 / 24); /* 29px */
  }
}