@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/root/root.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/locations/locations.css);
@import url(../blocks/location/location.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/profile-edit/profile-edit.css);
@import url(../blocks/profile-edit/_opened/profile-edit_opened.css);