.profile__info {
  position: relative;
  width: 282px;
  margin-top: 26.25px;
}

@media screen and (min-width: 1280px) {
  .profile__info {
    width: 415px;
    margin-top: 0;
    margin-right: 165px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
  }
}