.overlay__close-btn_type_location-create {
  top: -27px;
  right: -27px;

  width: 30px;
  height: 30px;
}


@media screen and (min-width: 1024px) {
  .overlay__close-btn_type_location-create {
    top: -41px;
    right: -38px;

    width: 40.7px;
    height: 40.7px;
  }
}