.locations__collection {
  padding: 0;
  margin: 0;

  display: grid;
  grid-template-columns: repeat(1, 1fr);
  row-gap: 20px;

  list-style: none;
}

@media screen and (min-width: 768px) {
  .locations__collection {
    grid-template-columns: repeat(2, 1fr);
    column-gap:  17px;
  }
}

@media screen and (min-width: 1024px) {
  .locations__collection {
    grid-template-columns: repeat(3, 1fr);
  }
}